

h1{
    color: red;
  text-align:center;
  font-size:30px;
}
p {
color: blue;
font-size: 20px; 
}
/*ID selector*/
#aboutme {
    color:brown;
    font-size:22px;
    text-align:center;
}
/*Class selector*/
.parag{
    color:blueviolet;
}