.header{
    border:solid black 1px;
    border-radius:5px;
    font-size: 24px;
    text-decoration: underline rgb(233, 228, 228) solid 3px;
    text-align:left;
    background-color: rgb(49, 48, 48);
    color: white;
}
.img {
    margin: 5px;
    border: 1px solid #8d8c8c;
    float: right;
    }
    .parag {
        font-size: 10px;
        text-align: left;
    }